In [1]:
import os
import pandas as pd
pd.set_option('display.max_columns', None)
import geopandas as gpd

import logging
logging.getLogger().setLevel(logging.INFO) # DEBUG, INFO or WARN
DROOT = '../1-data/'

In [2]:
# Loading this file might take a moment.
urbancenters = gpd.read_file(
    os.path.join(DROOT, '2-external', 'GHS_STAT_UCDB2020MT_GLOBE_R2019A', 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg'))
urbancenters.head(2)

DriverError: ../1-data/2-external/GHS_STAT_UCDB2015MT_GLOBE_R2019A/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg: No such file or directory

In [3]:
cities = pd.read_excel(os.path.join(DROOT, '1-research', 'cities.latest.xlsx'))
cities.sort_values('priority').head(2)

          city_name country_id  city_id  priority
0         São Paulo        BRA     1303        -1
13  s-Hertogenbosch        NLD     2194         0

In [4]:
# Initiate clean output list to add to excel.
cities_out = []

In [5]:
# Actually search cities here: 
city_name = "Trnava"
search = urbancenters[urbancenters.UC_NM_LST.str.contains(city_name)]
search[['ID_HDC_G0', 'UC_NM_MN', 'CTR_MN_ISO', 'UC_NM_LST', 'AREA']]

      ID_HDC_G0 UC_NM_MN CTR_MN_ISO UC_NM_LST  AREA
3103     3104.0   Trnava        SVK    Trnava  16.0

In [6]:
# Pass the ID_HDC_G0 in here below:
ID_HDC_G0 = 3104.0
record = urbancenters[urbancenters.ID_HDC_G0 == ID_HDC_G0]
cities_out.append(record[['ID_HDC_G0', 'CTR_MN_ISO', 'UC_NM_MN']].iloc[0].to_list())
record

,ID_HDC_G0,QA2_1V,AREA,BBX_LATMN,BBX_LONMN,BBX_LATMX,BBX_LONMX,GCPNT_LAT,GCPNT_LON,CTR_MN_NM,...,EX_SS_P00,EX_SS_P15,EX_EQ19PGA,EX_EQ19MMI,EX_EQ19_Q,EX_HW_IDX,SDG_LUE9015,SDG_A2G14,SDG_OS15MX,geometry
3103,3104.0,1.0,16.0,48.344308,17.560226,48.400911,17.615832,48.371428,17.588212,Slovakia,...,0.0,0.0,0.091345,4.0,available,11.4955,-0.45081,0.103318,35.31,"MULTIPOLYGON (((17.58336 48.40091, 17.59624 48..."

In [8]:
cities_new = pd.DataFrame(cities_out, columns=['city_id', 'country_id', 'city_name'])
cities_new['priority'] = 1 # 1 for normal, 0 for original collection, -1 for priority.
cities_new

   city_id country_id city_name  priority
0   3104.0        SVK    Trnava        -1

In [11]:
# Write out to file
cities_v2 = pd.concat([cities, cities_new])
cities_v2 = cities_v2.groupby('city_id').apply(lambda x: x.sort_values('priority', ascending=True).iloc[0])
cities_v2 = cities_v2.sort_values(['priority', 'country_id', 'city_name'])
cities_v2.to_excel('../1-data/1-research/cities.latest.xlsx', index=False)
cities_v2.head(2)

         city_name country_id  city_id  priority
city_id
1303.0   São Paulo        BRA   1303.0        -1
3104.0      Trnava        SVK   3104.0        -1

In [ ]:
search = urbancenters[urbancenters.CTR_MN_ISO == 'NLD']
search[['ID_HDC_G0', 'UC_NM_MN', 'CTR_MN_ISO', 'AREA']].sort_values('AREA', ascending=False)

      ID_HDC_G0               UC_NM_MN CTR_MN_ISO   AREA
2122     2123.0  Rotterdam [The Hague]        NLD  658.0
2166     2167.0              Amsterdam        NLD  345.0
2234     2235.0                Heerlen        NLD  129.0
2180     2181.0                Utrecht        NLD  124.0
2204     2205.0              Eindhoven        NLD  104.0
2137     2138.0                 Leiden        NLD   97.0
2162     2163.0              Dordrecht        NLD   88.0
2225     2226.0                 Arnhem        NLD   87.0
2182     2183.0                Tilburg        NLD   63.0
2143     2144.0             Zoetermeer        NLD   60.0
2218     2219.0               Nijmegen        NLD   60.0
2165     2166.0                Alkmaar        NLD   59.0
2186     2187.0                 Almere        NLD   56.0
2151     2152.0              Heemskerk        NLD   54.0
2154     2155.0                Haarlem        NLD   52.0
2168     2169.0                  Breda        NLD   48.0
2193     2194.0       's-Hertogenbosch        NLD   45.0
2268     2269.0              Groningen        NLD   44.0
2297     2298.0               Enschede        NLD   43.0
2198     2199.0             Amersfoort        NLD   41.0
2219     2220.0             Maastricht        NLD   41.0
2228     2229.0              Apeldoorn        NLD   39.0
2232     2233.0                 Zwolle        NLD   36.0
2291     2292.0                Hengelo        NLD   35.0
2278     2279.0                 Almelo        NLD   34.0
2246     2247.0                  Venlo        NLD   32.0
2226     2227.0                Sittard        NLD   29.0
2163     2164.0                  Gouda        NLD   29.0
2243     2244.0               Deventer        NLD   27.0
2178     2179.0                  Hoorn        NLD   25.0
2216     2217.0             Leeuwarden        NLD   24.0
2217     2218.0                Helmond        NLD   23.0
2175     2176.0              Purmerend        NLD   21.0
2161     2162.0    Alphen aan den Rijn        NLD   20.0
2144     2145.0             Roosendaal        NLD   20.0
2208     2209.0             Veenendaal        NLD   18.0
2187     2188.0              Hilversum        NLD   17.0