In [1]:
import os
import pandas as pd
import geopandas as gpd

import logging
logging.getLogger().setLevel(logging.INFO) # DEBUG, INFO or WARN
DROOT = '../1-data/'

In [2]:
# Loading this file might take a moment.
urbancenters = gpd.read_file(
    os.path.join(DROOT, '2-external', 'GHS_STAT_UCDB2015MT_GLOBE_R2019A', 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg'))
urbancenters.head(2)

,ID_HDC_G0,QA2_1V,AREA,BBX_LATMN,BBX_LONMN,BBX_LATMX,BBX_LONMX,GCPNT_LAT,GCPNT_LON,CTR_MN_NM,...,EX_SS_P00,EX_SS_P15,EX_EQ19PGA,EX_EQ19MMI,EX_EQ19_Q,EX_HW_IDX,SDG_LUE9015,SDG_A2G14,SDG_OS15MX,geometry
0,1.0,1.0,185.0,21.247683,-158.043016,21.422193,-157.730529,21.340678,-157.893497,United States,...,397443.031445,444041.529529,NaN,NaN,missing,NaN,0.074385,0.226415,56.41,"MULTIPOLYGON (((-158.01244 21.42219, -157.9915..."
1,2.0,2.0,42.0,-17.641184,-149.628088,-17.517631,-149.508018,-17.534103,-149.568053,French Polynesia,...,0.000000,0.000000,NaN,NaN,missing,NaN,0.128,0.284119,NaN,"MULTIPOLYGON (((-149.56967 -17.51763, -149.508..."

In [ ]:
cities_out = []
cities_notfound = []

In [24]:
cities_tbd = ['Aachen', 'Aarhus', 'Adelaide', 'Albuquerque', 'Alexandria', 'Amsterdam', 'Antwerpen', 'Arnhem', 'Auckland', 'Augsburg', 'Austin', 'Baghdad', 'Baku', 'Balaton', 'Bamberg', 'Bangkok', 'Barcelona', 'Basel', 'Beijing', 'Beirut', 'Berkeley', 'Berlin', 'Bern', 'Bielefeld', 'Birmingham', 'Bochum', 'Bogota', 'Bombay', 'Bonn', 'Bordeaux', 'Boulder', 'BrandenburgHavel', 'Braunschweig', 'Bremen', 'Bremerhaven', 'Brisbane', 'Bristol', 'Brno', 'Bruegge', 'Bruessel', 'Budapest', 'BuenosAires', 'Cairo', 'Calgary', 'Cambridge', 'CambridgeMa', 'Canberra', 'CapeTown', 'Chemnitz', 'Chicago', 'ClermontFerrand', 'Colmar', 'Copenhagen', 'Cork', 'Corsica', 'Corvallis', 'Cottbus', 'Cracow', 'CraterLake', 'Curitiba', 'Cusco', 'Dallas', 'Darmstadt', 'Davis', 'DenHaag', 'Denver', 'Dessau', 'Dortmund', 'Dresden', 'Dublin', 'Duesseldorf', 'Duisburg', 'Edinburgh', 'Eindhoven', 'Emden', 'Erfurt', 'Erlangen', 'Eugene', 'Flensburg', 'FortCollins', 'Frankfurt', 'FrankfurtOder', 'Freiburg', 'Gdansk', 
              'Genf', 'Ghent', 'Gera', 'Glasgow', 'Gliwice', 'Goerlitz', 'Goeteborg', 'Goettingen', 'Graz', 'Groningen', 'Halifax', 'Halle', 'Hamburg', 'Hamm', 'Hannover', 'Heilbronn', 'Helsinki', 'Hertogenbosch', 'Huntsville', 'Innsbruck', 'Istanbul', 'Jena', 'Jerusalem', 'Johannesburg', 'Kaiserslautern', 'Karlsruhe', 'Kassel', 'Katowice', 'Kaunas', 'Kiel', 'Kiew', 'Koblenz', 'Koeln', 'Konstanz', 'LaPaz', 'LaPlata', 'LakeGarda', 'Lausanne', 'Leeds', 'Leipzig', 'Lima', 'Linz', 'Lisbon', 'Liverpool', 'Ljubljana', 'Lodz', 'London', 'Luebeck', 'Luxemburg', 'Lyon', 'Maastricht', 'Madison', 'Madrid', 'Magdeburg', 'Mainz', 'Malmoe', 'Manchester', 'Mannheim', 'Marseille', 'Melbourne', 'Memphis', 'MexicoCity', 'Miami', 'Moenchengladbach', 'Montevideo', 'Montpellier', 'Montreal', 'Moscow', 'Muenchen', 'Muenster', 'NewDelhi', 'NewOrleans', 'NewYorkCity', 'Nuernberg', 'Oldenburg', 'Oranienburg', 'Orlando', 'Oslo', 'Osnabrueck', 'Ostrava', 'Ottawa', 'Paderborn', 'Palma', 'PaloAlto', 'Paris', 'Perth', 'Philadelphia', 'PhnomPenh', 'Portland', 'PortlandME', 'Porto', 'PortoAlegre', 'Potsdam', 'Poznan', 'Prag', 'Providence', 'Regensburg', 'Riga', 'RiodeJaneiro', 'Rostock', 'Rotterdam', 'Ruegen', 'Saarbruecken', 'Sacramento', 'Saigon', 'Salzburg', 'SanFrancisco', 'SanJose', 'SanktPetersburg', 'SantaBarbara', 'SantaCruz', 'Santiago', 'Sarajewo', 'Schwerin', 'Seattle', 'Seoul', 'Sheffield', 'Singapore', 'Sofia', 'Stockholm', 'Stockton', 'Strassburg', 'Stuttgart', 'Sucre', 'Sydney', 'Szczecin', 'Tallinn', 'Tehran', 'Tilburg', 'Tokyo', 'Toronto', 'Toulouse', 'Trondheim', 'Tucson', 'Turin', 'UlanBator', 'Ulm', 'Usedom', 'Utrecht', 'Vancouver', 'Victoria', 'WarenMueritz', 'Warsaw', 'WashingtonDC', 'Waterloo', 'Wien', 'Wroclaw', 'Wuerzburg', 'Wuppertal', 'Zagreb', 'Zuerich'
              ]
for city in cities_tbd:
    search = urbancenters[urbancenters.UC_NM_LST.str.contains(city)]
    print(city)
    if search.shape[0] == 0:
        print("Didn't find " + city)
        cities_notfound.append(city)
    if search.shape[0] > 1:
        print(search[['ID_HDC_G0', 'UC_NM_MN', 'CTR_MN_ISO', 'AREA']])
        id = input()
        search = search[search.ID_HDC_G0 == int(id)]
    if search.shape[0] == 1:
        cities_out.append(search[['ID_HDC_G0', 'CTR_MN_ISO', 'UC_NM_MN']].iloc[0].to_list())

Aachen
Aarhus
Adelaide
Albuquerque
Alexandria
      ID_HDC_G0         UC_NM_MN CTR_MN_ISO    AREA
854       855.0  Washington D.C.        USA  1550.0
3750     3751.0       Alexandria        EGY   598.0
Amsterdam
Antwerpen
Didn't find Antwerpen
Arnhem
Auckland
Augsburg
Austin
Baghdad
Baku
Balaton
Didn't find Balaton
Bamberg
Bangkok
       ID_HDC_G0 UC_NM_MN CTR_MN_ISO    AREA
10714    10715.0  Bangkok        THA  2568.0
12561    12562.0  Kunjang        IDN   105.0
Barcelona
      ID_HDC_G0   UC_NM_MN CTR_MN_ISO   AREA
903       904.0  Barcelona        VEN  145.0
2050     2051.0  Barcelona        ESP  583.0
Basel
Beijing
Beirut
Berkeley
Berlin
Bern
      ID_HDC_G0     UC_NM_MN CTR_MN_ISO    AREA
13         14.0  Los Angeles        USA  5633.0
1302     1303.0    São Paulo        BRA  2005.0
2383     2384.0         Bern        CHE    67.0
Bielefeld
Birmingham
      ID_HDC_G0    UC_NM_MN CTR_MN_ISO   AREA
485       486.0  Birmingham        USA  221.0
1799     1800.0  Birmingham        GBR  668.0
Bochum
Bogota
Bombay
Didn't find Bombay
Bonn
      ID_HDC_G0 UC_NM_MN CTR_MN_ISO   AREA
2328     2329.0     Bonn        DEU  136.0
2545     2546.0    Bonny        NGA   24.0
Bordeaux
Boulder
BrandenburgHavel
Didn't find BrandenburgHavel
Braunschweig
Didn't find Braunschweig
Bremen
Bremerhaven
Brisbane
Bristol
Brno
Bruegge
Didn't find Bruegge
Bruessel
Didn't find Bruessel
Budapest
BuenosAires
Didn't find BuenosAires
Cairo
Calgary
Cambridge
      ID_HDC_G0   UC_NM_MN CTR_MN_ISO  AREA
869       870.0  Cambridge        CAN  60.0
1964     1965.0  Cambridge        GBR  37.0
CambridgeMa
Didn't find CambridgeMa
Canberra
Didn't find Canberra
CapeTown
Didn't find CapeTown
Chemnitz
Chicago
     ID_HDC_G0  UC_NM_MN CTR_MN_ISO    AREA
633      634.0   Chicago        USA  3830.0
661      662.0  Waukegan        USA   313.0
ClermontFerrand
Didn't find ClermontFerrand
Colmar
Copenhagen
Cork
Corsica
Didn't find Corsica
Corvallis
Didn't find Corvallis
Cottbus
Cracow
Didn't find Cracow
CraterLake
Didn't find CraterLake
Curitiba
Cusco
Dallas
Darmstadt
Davis
     ID_HDC_G0       UC_NM_MN CTR_MN_ISO  AREA
39        40.0          Davis        USA  28.0
148      149.0  Mountain View        USA  40.0
DenHaag
Didn't find DenHaag
Denver
Dessau
Didn't find Dessau
Dortmund
Dresden
Dublin
Duesseldorf
Didn't find Duesseldorf
Duisburg
Edinburgh
Eindhoven
Emden
Didn't find Emden
Erfurt
Erlangen
Eugene
Flensburg
FortCollins
Didn't find FortCollins
Frankfurt
FrankfurtOder
Didn't find FrankfurtOder
Freiburg
      ID_HDC_G0               UC_NM_MN CTR_MN_ISO  AREA
2361     2362.0  Freiburg im Üechtland        CHE  19.0
2407     2408.0   Freiburg im Breisgau        DEU  49.0
Gdansk

In [34]:
", ".join(cities_notfound)

'Genf, Goerlitz, Goeteborg, Goettingen, Hannover, Kiew, Koeln, Konstanz, LaPaz, LaPlata, LakeGarda, Luebeck, Luxemburg, Malmoe, MexicoCity, Moenchengladbach, Muenchen, Muenster, NewDelhi, NewOrleans, NewYorkCity, Nuernberg, Oranienburg, Osnabrueck, PaloAlto, PhnomPenh, PortlandME, PortoAlegre, RiodeJaneiro, Ruegen, Saigon, SanFrancisco, SanJose, SanktPetersburg, SantaBarbara, SantaCruz, Sarajewo, Schwerin, Strassburg, UlanBator, Usedom, WarenMueritz, WashingtonDC, Wien, Wuerzburg, Zuerich, Antwerpen, Balaton, Bombay, BrandenburgHavel, Braunschweig, Bruegge, Bruessel, BuenosAires, CambridgeMa, Canberra, CapeTown, ClermontFerrand, Corsica, Corvallis, Cracow, CraterLake, DenHaag, Dessau, Duesseldorf, Emden, FortCollins, FrankfurtOder'

In [117]:
search = urbancenters[urbancenters.UC_NM_LST.str.contains('Oder')]
if search.shape[0] == 1:
    cities_out.append(search[['ID_HDC_G0', 'CTR_MN_ISO', 'UC_NM_MN']].iloc[0].to_list())
    print('appended')
search[['ID_HDC_G0', 'UC_NM_MN', 'CTR_MN_ISO', 'AREA']]

appended

      ID_HDC_G0 UC_NM_MN CTR_MN_ISO  AREA
2713     2714.0    Abuna        NGA  12.0

In [104]:
record = urbancenters[urbancenters.ID_HDC_G0 == 2641.0]
cities_out.append(record[['ID_HDC_G0', 'CTR_MN_ISO', 'UC_NM_MN']].iloc[0].to_list())
record

,ID_HDC_G0,QA2_1V,AREA,BBX_LATMN,BBX_LONMN,BBX_LATMX,BBX_LONMX,GCPNT_LAT,GCPNT_LON,CTR_MN_NM,...,EX_SS_P00,EX_SS_P15,EX_EQ19PGA,EX_EQ19MMI,EX_EQ19_Q,EX_HW_IDX,SDG_LUE9015,SDG_A2G14,SDG_OS15MX,geometry
2640,2641.0,1.0,76.0,52.210926,10.46378,52.337338,10.594577,52.269765,10.524976,Germany,...,0.0,0.0,0.009377,2.0,available,6.2514,1.6836,0.586776,75.23,"MULTIPOLYGON (((10.50692 52.33734, 10.52049 52..."

In [118]:
pd.DataFrame(cities_out).to_csv('bak.3.csv')

In [7]:
search#.iloc[0].head(40)

,ID_HDC_G0,QA2_1V,AREA,BBX_LATMN,BBX_LONMN,BBX_LATMX,BBX_LONMX,GCPNT_LAT,GCPNT_LON,CTR_MN_NM,...,EX_SS_P00,EX_SS_P15,EX_EQ19PGA,EX_EQ19MMI,EX_EQ19_Q,EX_HW_IDX,SDG_LUE9015,SDG_A2G14,SDG_OS15MX,geometry
2244,2245.0,1.0,79.0,50.742457,6.002962,50.838538,6.177215,50.785198,6.104844,Germany,...,0.0,0.0,0.158553,5.0,available,8.22117,-93.9251,0.552593,76.09,"MULTIPOLYGON (((6.11556 50.83854, 6.14215 50.8..."

In [22]:
search = urbancenters[urbancenters.CTR_MN_ISO == 'NLD']
search[['ID_HDC_G0', 'UC_NM_MN', 'CTR_MN_ISO', 'AREA']].sort_values('AREA', ascending=False)

      ID_HDC_G0               UC_NM_MN CTR_MN_ISO   AREA
2122     2123.0  Rotterdam [The Hague]        NLD  658.0
2166     2167.0              Amsterdam        NLD  345.0
2234     2235.0                Heerlen        NLD  129.0
2180     2181.0                Utrecht        NLD  124.0
2204     2205.0              Eindhoven        NLD  104.0
2137     2138.0                 Leiden        NLD   97.0
2162     2163.0              Dordrecht        NLD   88.0
2225     2226.0                 Arnhem        NLD   87.0
2182     2183.0                Tilburg        NLD   63.0
2143     2144.0             Zoetermeer        NLD   60.0
2218     2219.0               Nijmegen        NLD   60.0
2165     2166.0                Alkmaar        NLD   59.0
2186     2187.0                 Almere        NLD   56.0
2151     2152.0              Heemskerk        NLD   54.0
2154     2155.0                Haarlem        NLD   52.0
2168     2169.0                  Breda        NLD   48.0
2193     2194.0       's-Hertogenbosch        NLD   45.0
2268     2269.0              Groningen        NLD   44.0
2297     2298.0               Enschede        NLD   43.0
2198     2199.0             Amersfoort        NLD   41.0
2219     2220.0             Maastricht        NLD   41.0
2228     2229.0              Apeldoorn        NLD   39.0
2232     2233.0                 Zwolle        NLD   36.0
2291     2292.0                Hengelo        NLD   35.0
2278     2279.0                 Almelo        NLD   34.0
2246     2247.0                  Venlo        NLD   32.0
2226     2227.0                Sittard        NLD   29.0
2163     2164.0                  Gouda        NLD   29.0
2243     2244.0               Deventer        NLD   27.0
2178     2179.0                  Hoorn        NLD   25.0
2216     2217.0             Leeuwarden        NLD   24.0
2217     2218.0                Helmond        NLD   23.0
2175     2176.0              Purmerend        NLD   21.0
2161     2162.0    Alphen aan den Rijn        NLD   20.0
2144     2145.0             Roosendaal        NLD   20.0
2208     2209.0             Veenendaal        NLD   18.0
2187     2188.0              Hilversum        NLD   17.0

In [3]:
cities = pd.read_excel(os.path.join(DROOT, '1-research', 'cities.xlsx'), index_col=0)
cities.head(5)

         Country  ID_HDC_G0 city_name country_id  city_id
City
Vienna       AUT       3027    Vienna        AUT     3027
Graz         AUT       3000      Graz        AUT     3000
Brussels     BEL       2135  Brussels        BEL     2135
Berlin       DEU       2851    Berlin        DEU     2851
Hamburg      DEU       2531   Hamburg        DEU     2531

In [123]:
cities['original_dataset'] = True

In [124]:
cities_new = pd.DataFrame(cities_out, columns=['city_id', 'country_id', 'city_name'])
cities_new['original_dataset'] = False
cities_wew = pd.concat([cities, cities_new])
cities_wew

,Country,ID_HDC_G0,city_name,country_id,city_id,original_dataset
Vienna,AUT,3027.0,Vienna,AUT,3027.0,True
Graz,AUT,3000.0,Graz,AUT,3000.0,True
Brussels,BEL,2135.0,Brussels,BEL,2135.0,True
Berlin,DEU,2851.0,Berlin,DEU,2851.0,True
Hamburg,DEU,2531.0,Hamburg,DEU,2531.0,True
...,...,...,...,...,...,...
208,NaN,NaN,Clermont-Ferrand,FRA,2094.0,False
209,NaN,NaN,Krakow,POL,3205.0,False
210,NaN,NaN,Dusseldorf,DEU,2288.0,False
211,NaN,NaN,Fort Collins,USA,295.0,False
212,NaN,NaN,Abuna,NGA,2714.0,False

In [136]:
cities_v2 = cities_wew.drop(columns=['Country', 'ID_HDC_G0']).reset_index(drop=True)
# cities_v2 = cities_v2.groupby('city_id')
cities_v2 = cities_v2.groupby('city_id').apply(lambda x: x.sort_values('original_dataset', ascending=False).iloc[0])
cities_v2 = cities_v2.sort_values(['country_id', 'city_name'])
cities_v2.to_excel('../1-data/1-research/cities.v2.xlsx', index=False)
cities_v2

                city_name country_id  city_id  original_dataset
city_id
1105.0       Buenos Aires        ARG   1105.0              True
1117.0           La Plata        ARG   1117.0             False
12977.0          Adelaide        AUS  12977.0              True
13076.0          Brisbane        AUS  13076.0             False
13023.0         Melbourne        AUS  13023.0              True
...                   ...        ...      ...               ...
855.0     Washington D.C.        USA    855.0             False
513.0            Waterloo        USA    513.0             False
11800.0  Ho Chi Minh City        VNM  11800.0             False
3268.0          Cape Town        ZAF   3268.0             False
3673.0       Johannesburg        ZAF   3673.0             False

[226 rows x 4 columns]